body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  .container-fluid {
    max-width: 1200px;
    margin: auto;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .sidebar {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .sidebar .nav-link {
    color: #333;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .sidebar .nav-link:hover,
  .sidebar .nav-link.active {
    background-color: #007bff;
    color: #fff;
  }
  
  main {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  main .card {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 10px;
    overflow: hidden;
  }
  
  main .card .card-header,
  main .card .card-footer {
    background-color: #007bff;
    color: #fff;
  }
  